body{
    background-color:whitesmoke;   
    font-family: 'Solway', serif;   
    color: black;
}
.output{
    color: crimson;
}
.result{
    color: green;
}
.mma{
    color: blue;
}
.test{
color: #9d00ff;
}
.bottom_div{
    width: 1000px;
    font-family: 'Pacifico', cursive;    
    font-size: 25px;
    color: orangered; 
    border: 2px 2px dashed orangered;  
}
